body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculadora-dano{
    border: 1px solid #878787;
    border-radius: 20px;
    background-color: #f8f8f8;
    margin-left: 20%;
    margin-right: 20%;
}

.linha{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.elemento-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.elemento-item{
    text-align: center;
    font-weight: bold;
}

#calcular{
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
}







